<!-- cards -->
<div class="container p-5">
<div class="row d-flex justify-content-evenly">
    <div class="col card p-0 text-white optionCard" style="max-width: 30rem; background-color: #3693a3;">
    <div class="card-header"><strong>Profile</strong></div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita suscipit ea amet nobis magnam tenetur praesentium.</p>
    </div>
    </div>
    <div class="col card text-white optionCard p-0" style="max-width: 30rem; background-color: #d8a305;">
    <div class="card-header"> <strong>Event search</strong> </div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita suscipit ea amet nobis magnam tenetur praesentium.</p>
    </div>
    </div>
</div>
<div class="row d-flex justify-content-evenly mt-3">
    <div class="col card text-white optionCard p-0" style="max-width: 30rem; background-color: #3aa553;">
    <div class="card-header"><strong>My Bookings</strong> </div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita suscipit ea amet nobis magnam tenetur praesentium.</p>
    </div>
    </div>
    <div class="col card text-white optionCard p-0" style="max-width: 30rem; background-color: #dd4857;">
    <div class="card-header"><strong> Past Bookings</strong></div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita suscipit ea amet nobis magnam tenetur praesentium.</p>
    </div>
    </div>
</div>
</div>
